body{
    height: 90%;
    background: #fff8ea;
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding-top: 80px;
}

header{
    background: #000000ee;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    gap: 15px;
}

.menu button{
    background: transparent;
    border: 2px solid  #aa0101;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 07px 15px;
    border-radius: 08px;
    transition: .2s;
    cursor: pointer;
    font-family:'Poppins', sans-serif;
}

.menu button:hover{
    background: #000;
    transform: translateY(-2px);
}

nav a{
    color: rgb(255, 0, 0);
    text-decoration: none;
}
/*////////////////////////////////*/
/* Modal Cadastro */

.overlay{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;
}

.overlay.ativo{
    opacity: 1;
    visibility: visible;
}

.overlay button{
    background: #000;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 10px;
    transition:.3s;
    cursor: pointer;
}

.overlay button:hover{
    background: #aa0101;
}

/*/////////////////////////////////*/


/* Modal Cadastro quando esta logado */

.overlayLOG{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;
}

.overlayLOG.ativo{
    opacity: 1;
    visibility: visible;
}

.overlayLOG button{
    background: #000;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 10px;
    transition:.3s;
    cursor: pointer;
}

.overlayLOG button:hover{
    background: #cf0000 ;
}

/*/////////////////////////////////*/
.modal{
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    z-index: 1001;
}
/*/////////////////////////////////*/
/* Banner */

.perfil{
    width: 80%;
    height: 350px;
    margin: 20px auto;
    border-radius: 15px;
    overflow: hidden;
}

.img-fundo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
/*////////////////////////////////*/
/* Busca */

.filtros{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 20px;
}

.filtros select,
.filtros input{
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #6d0000;
    background: rgb(255, 255, 255);
}

.filtros input{
    flex: 1;
}
/*/////////////////////////////////*/
/* Cards */
.titulos{
    width: 80%;
    height: 30px;
    margin: 40px auto;
    font-size: 30px;
    font-weight: 550;
    color: #1f2937;
}
/*////////////////////////////////*/
/* Cards */

.destaques{
    width: 80%;
    margin: 40px auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    background: white;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
    
}

.card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card h3,
.card .preco{
    margin-left: 15px;
}

.card button{
    width: calc(100% - 30px);
    margin: 15px;
    padding: 12px;
    background: #aa0101 ;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family:'Poppins', sans-serif;
}

.card button:hover{
    background: #000;
    transform: translateY(-2px);    
    color: white !important;
}
/*////////////////////////////////*/
/* Carrinho */

.btn-carrinho{
    background: transparent !important;
    color: #ffffff !important;
    border: 2px solid #aa0101 !important;
    font-weight: bold;
    font-family:'Poppins', sans-serif;
}

.btn-carrinho:hover{
    background: #000000 !important;
    transform: translateY(-2px);    
    color: white !important;
}
/*////////////////////////////////*/
/* Painel Carrinho */

.painel-carrinho{
    position: fixed;
    top: 80px;
    right: -350px;

    width: 320px;
    height: calc(100vh - 80px);

    background: white;
    padding: 20px;

    box-shadow: -3px 0 10px rgba(0,0,0,.2);
    transition: .3s;

    z-index: 999;
}

.painel-carrinho.ativo{
    right: 0;
}

.painel-carrinho ul{
    list-style: none;
    padding: 0;
}

.painel-carrinho li{
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}
/*/////////////////////////////////*/
/* Itens do Carrinho */
.item-carrinho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
/*/////////////////////////////////*/
/* Controle de Quantidade */
.controle-qtd{
    display: flex;
    align-items: center;
    gap: 10px;
}

.controle-qtd button{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background: #c40000;
    color: white;
    cursor: pointer;
    font-weight: bold;
    font-family:'Poppins', sans-serif;
}

.controle-qtd button:hover{
    background: #000;
}
/*/////////////////////////////////*/ 
/* Finalizar Pedido */
.finalizar{
    width: 100%;
    padding: 12px;
    background: #b80000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family:'Poppins', sans-serif;
}

.finalizar:hover{
    background: #000;
}
/*/////////////////////////////////*/
/* Tabelas */
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th{
    background: #ff000075;
    color: white;
}

th,
td{
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}
/*/////////////////////////////////*/

.editar{
    background: #f39c12;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.excluir{
    background: #e74c3c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}
/*/////////////////////////////////*/
/* Rodapé */

.footer{
    background: #000000ee;
    color: rgba(255, 0, 0, 0.658);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}