body{
    height: 100%;
    margin:0;
    background:#f5f5f5;
    font-family:Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background:#111;
    padding:40px;
    align-items:center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 15px;
    list-style: none;

}

nav ul button{
    background: #241b1b2a;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;   
}

nav ul button:hover{
    background: #b51f1f;
    transform: translateY(-2px);
}

nav a{
    color:white;
    text-decoration:none;
}

aside{
    position: fixed;
    right: 20px;
    top: 180px;
}

.modal{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    z-index: 1001;
}


.perfil{
    width: 80%;
    height: 350px; /* altura do banner */
    margin: 20px auto;
    border-radius: 15px;
    overflow: hidden;
}

.img-fundo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.perfil div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: none;
    object-fit: cover;
}

.perfil div img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.filtros{
    width:80%;
    margin:auto;
    display:flex;
    gap:20px;
}

.filtros select,
.filtros input{
    padding:12px;
    border-radius:8px;
    border:1px solid #ccc;
}

.filtros input{
    flex:1;
}

.destaques{
    width:80%;
    margin:40px auto;
    display:flex;
    justify-content:left;
    gap:20px;
    flex-wrap:wrap;
}
.card{
    background: white;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);

}

.card img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: flex;
}

.card button{
    width:calc(100% - 30px);
    margin:15px;
    padding:12px;
    background:#d62828;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.carrinho{
    position: fixed ;
    right:20px;
    top:180px;
    width:250px;
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 3px 10px rgba(0,0,0,.15);

    z-index: 1;
}

.carrinho ul{
    list-style:none;
    padding:0;
}

.carrinho li{
    display:flex;
    justify-content:space-between;
    margin:10px 0;
}

.carrinho button{
    background:red;
    color:white;
    border:none;
    padding:5px 8px;
    border-radius:5px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:30px;
}

th{
    background:#d62828;
    color:white;
}

th,
td{
    padding:12px;
    border:1px solid #ddd;
    text-align:center;
}

.editar{
    background:#f39c12;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:5px;
    cursor:pointer;
}

.excluir{
    background:#e74c3c;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:5px;
    cursor:pointer;
}

.footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}
/* css do cadastro João */

.overlay{
    display: flex;
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,.5);

    justify-content: center;
    align-items: center;

    z-index: 1000;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.overlay.ativo{
    opacity: 1;
    visibility: visible;
}

.modal{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    z-index: 1001
}

/* fim do css cadastro */