body{
    margin:0;
    background:#fdfbf6;
    font-family:Arial, sans-serif;
}

header{
    background:#111;
    padding:40px;
    align-items:center;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 15px;
    list-style: none;

}

nav ul button{
    background: #241b1b2a;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;   
}

nav ul button:hover{
    background: #b51f1f;
    transform: translateY(-2px);
}

nav a{
    color:white;
    text-decoration:none;
}

aside{
    position: fixed;
    right: 20px;
    top: 180px;
}
.banner img{
    width:100%;
    height:300px;
    object-fit:cover;
}

.perfil{
    position: relative;

    width: 80%;
    margin: 20px auto;
    border-radius: 15px;
    overflow: hidden;
}

.img-fundo{
    width: 100%;
    display: block;
    object-fit: cover;
}

.perfil div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.perfil div img{
    width: 450px; /* ajuste como preferir */
    height: 450px;
    border-radius: 50%; /* deixa redonda */
}

.filtros{
    width:80%;
    margin:auto;
    display:flex;
    gap:20px;
}

.filtros select,
.filtros input{
    padding:12px;
    border-radius:8px;
    border:1px solid #ccc;
}

.filtros input{
    flex:1;
}

.destaques{
    width:80%;
    margin:40px auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.card button{
    width:calc(100% - 30px);
    margin:15px;
    padding:12px;
    background:#d62828;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.carrinho{
    position: fixed ;
    right:20px;
    top:180px;
    width:300px;
    background:white;
    padding:20px;
    border-radius:15px;
    box-shadow:0 3px 10px rgba(0,0,0,.15);
}

.carrinho ul{
    list-style:none;
    padding:0;
}

.carrinho li{
    display:flex;
    justify-content:space-between;
    margin:10px 0;
}

.carrinho button{
    background:red;
    color:white;
    border:none;
    padding:5px 8px;
    border-radius:5px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:30px;
}

th{
    background:#d62828;
    color:white;
}

th,
td{
    padding:12px;
    border:1px solid #ddd;
    text-align:center;
}

.editar{
    background:#f39c12;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:5px;
    cursor:pointer;
}

.excluir{
    background:#e74c3c;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:5px;
    cursor:pointer;
}

.footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}